button {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  outline: 0;
  border: none;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  background-color: #408388;
  color: #ffffff;
  margin: 5px;
}

#calc {
  background-color: #094044;
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
}
#display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
  text-align: right;
  flex: 1;
  font-size: 60px;
  box-shadow: none;
  width: 280px;
  background-color: #71756e;
  border: none;
  color: white;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #8d9489;
}
button:hover {
  background-color: #5c979b;
}
button:active {
  background-color: #e6793a;
}
.oper {
  background-color: #e6793a;
}
.main {
  background-color: #87df54;
}
#equal {
  width: 135px;
  height: 60px;
}
h5 {
  writing-mode: vertical-lr;
  color: whitesmoke;
}
